<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="Post" action="/ticketedit">
        <label for="fullname"> Fullname</label>
        <input type="text" name="fullname" id="fullname">
        <label for="destination">destination</label>
        <input type="text" name="destination" id="destination">
            <label for="origin">origin:</label>
            <input type="text" name="origin" id="origin">     
            <label for="phonenumber"> phonenumber</label>
            <input type="text" name="phonenumber" id="phonenumber">
            <label for="depart">depart</label>
            <input type="date" name="depart" id="depart">
            <label for="sit">sit</label>
            <input type="text" name="sit" id="sit"> 
            <label for="ticketnumber">ticketnumber</label>
            <p>ensure you copy the ticket number </p>
            <input type="text" name="ticketnumber" id="ticketnumber"> 
            <button type="submit"> submit</button>
        </form>
    
   
    </body>

</html>